.navmenu {
    background-color: #fff;
    width: 264px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
}
.navText {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    text-decoration: none;
}
.navMenuItems {
    width: 100%;
    list-style: none;
   
}
span {
    margin-left: 16px;
}