.flexContainer{
    display: flex;
    gap: 120px;
    padding: 30px;
    
}
.logoDiv{
    border-bottom: 1px solid #f0eeee;
}

.form{
    display: flex;
    flex-direction: column;
}

/* .navigation li{
    padding: 10px;
    list-style: none;
}

.navigation li a{
    color: #453F3C;
    font-family: "Montserrat" sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.navigation li img {
    height: 10px;
    width: 15px;
} */
.wrapper{
    width: 1176px;
    height: 917px;
    border: 0px 0px 0px 0.8px;
    background-color: #FBFEF9;
}
.welcome h4{
    color: #000;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    
}
.welcome p{
    
    
}

.welcome span{
    color: #000;
    font-family: "Montserrat" sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    
}
.welcome input{
  margin-left: 0px;
  width: 300px;
}
.track{
    margin-left: 50px;
    margin-bottom: 40px;
    width: 556px;
    height: 268px;
    padding: 26px 52px 26px 52px;
    gap: 22px;
    border-radius: 40px;
    background-color: #FFFFFF;

}
.searchbutton{
     margin-top: 15px;
    background-color: #F44322;
    width: 300px;
    height: 40px;
    padding: 10px;
    justify-content: center;align-items: center;
    color: #fff;
    font-family: 'Monstserrat' sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: #F44322;
    

}
.track p{
    margin-top: 20px;
    margin-bottom: 20px;

}


.activity{
    margin-left: 40px;
    width: 556px;
    height: 474px;
    border-radius: 30px;
    background-color: #FFFFFF;

    /* text-size-adjust: 10px; */
}
.activity h5{
    color: #000;
    font-family:' Montserrat'sans-serif ;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
}
.activity img{
    display: flex;
    justify-content: center; 
    margin-top: 30px;
    margin-left: 80px;
}
.activity span{
    color: #000;
    text-align: right;
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    margin-right: 1px;
    margin-top: 10px;
  
}
.icon{
    display: flex;
    gap: 20px;
    padding: 30px;
}
.icon div{
    color: #848484;
    font-size: 20px;
    box-shadow: #453F3C;
    text-align:justify;   
    justify-self: center;
}
.icon h6{
    margin-top: 3px;
    color: #000;
    font-family:' Montserrat' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin-right: 15px;
}
.formgroup{
    width: 513px;
    height: 812px;
    padding: 32px 63px 32px 63px;
    gap: 10px;
    border-radius: 30px;
    background-color: #FFFFFF;
}
.form{
    margin-top: 10px;
}

.form h4{
    margin: -25px;
    margin-left: 10;
    color: #310D07;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
}
.form label{
   margin-left:10px;
   font-size: 12px;
}
.form input{
    margin-left: 10px;
    width: 450px;
    height: 30px;
    margin-bottom: -30px;

    
}
.form .label{
    margin-top: 10px;
}

.formtwo h4{
    margin: -25px;
    margin-left: 10px;
    margin-top: 30px;
    color: #310D07;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    justify-content: center;
    
}

.formtwo{
    display: flex;
    flex-direction: column;
    margin-bottom: -35px;
   
}

.formtwo label{
   margin-left: 10px;
   font-size: 12px;
}
.formtwo input{
    margin-left: 10px;
    width: 450px;
    height: 30px;
    
}
.formtwo .label{
   margin-top: -25px;
   font-size: 12px;
   
}
.formtwo a{
    color: var(--Primary-Color, #F44322);
    font-family: 'Montserrat' sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    padding: 20px;
    margin-right: 100px; 
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;

}
.formtwo a:hover{
    background-color: #fff;
    border-left: 1px solid #fff;
    border-radius: 0px;
    border-width: 0px;
    opacity: 19px;
}

.label2{
    margin-bottom: 10px;
}
.packageInput{
    margin-top: 5px
}
.dispatchbutton{
     background-color:#F44322;
    color: #FFFFFF;
    padding: 16px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    font-family: Helvetica;
    border: none;
    width: 350px;
    margin-left: 70px;
    cursor: pointer;
}
.dispatchbutton:hover{
    background-color:#F44322 ;
}