.containerDiv {
    background-color: #310D07;
    padding: 60px 100px 0px;
}
.footerContainer{
    display: flex;
    gap:60px;
    padding-bottom: 50px;

}
.logoContainer img{
    width: 175px;
    height: 40.57px;
}
.company{
    width: 166.5px;
    height: 153px;
    margin-top: 40px;

}

.company ul{
    list-style: none;
    margin-left: -40px;
    line-height: 30px;
    font-weight: 200;
}
.company h6{
 color: #FFF;
    font-family:' Montserrat';
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 7px;
}
.company ul a{
    color: #A3A3A3;
    font-family:' Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    text-decoration: none;
    margin-left: 40px;
}
.contact{
    width: 187px;
    height: 113px;
    margin-top: 40px;

}
.contact h6{
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 7px;

}
.contact p{
    color: #FBFEF9;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.getUpdate {
    width: 429px;
    height: 300px;
    margin-right: 120px;
}

.getUpdate form{
    width: 400px;
    height: 295px;
    background-color: #fff;
    border-radius: 20px;
    font-family:' Montserrat';
    margin-left: 160px;
    margin-top: 5px;
}
.getUpdate p {
    text-align: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
    color: #040404;
    font-family: 'Monstserrat' sans-serif;
    margin-bottom: 0px;
}

.getUpdate .button{
    margin-top: 25px;
    margin-left: 100px;
    background-color: #F44322;
    width: 200px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Monstserrat' sans-serif;
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
}
.button:hover{
    opacity: 0;
}

.getUpdate input{
    border: 1px solid #464646;
    width: 350px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;  
    margin-left: 20px;
}
.getUpdate label{
    display: block;
    margin-left: 20px;
    color: #222222;
    margin-bottom: 5px;
}

.icon{
    color: #FFF;
   
    
    gap: 15px;
    display: flex;
}
.vector {
    margin-top: -182px;
    margin-left: -210px;
    border: 1px 0px 0px 0px;

}