.cardDiv{
  background-color: #FBF7F0;  
  height: 579px;
  padding: 45px 118px 158px 78px;
     
}

.cardDiv h6{
  display: flex;
  justify-content: center;
  font-family:" Montserrat" sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 70px;
}
.cardContainer{
  display: flex;
  gap: 20px;
}

.cardContainer > div {
  flex: 1;
  margin: 0 10px;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  width: 100%;
}
.card1, .card2, .card3 {
  height: 220px;
}

.cardContainer img {
  max-width: 100%;
  border-radius: 5px;
  margin-left: 122px;
  margin-top: 25px;
  margin-bottom: -10px;
}
.card2 img, .card3 img {
  margin-top: 40px;
}

.description{
color: #000;
text-align: center;
margin-top: 20px;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}
 .name{
    color: #000;
    display: flex;
    justify-content: center;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}