.nav-menu {
    background-color: #fff;
    width: 264px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
}
.nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
}
.nav-menu-items {
    width: 100%;
}
span {
    margin-left: 16px;
}