.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.header {
  padding: var(--app-header-padding);
}
.container {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -30px;
  align-items: center;
  margin-left: 300px;
  background-color: #FBFEF9;
  width:600px;
  height: 595px;
  border-radius: 20px;
  margin-bottom: 40px;
}
.heading
{
  
  color: #490f09;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align:center;
  margin-bottom: 180px;
  margin-top: -130px;
}
form {
  margin-top: -130px;
}
.formgroup{
  margin-left: 50px;
}
 .formgroup input{
  margin-left: -3px;
 } 

.formgroupc{
    margin-top: 10px;
    margin-left: 100px;
}
.formgroupc input{
    width: 20px;
    height: 20px;
    margin-left: -180px;
}

.formgroupb{
    margin-left: 50px;
}
.formgroupb input{
  margin-left: -2px;
}

.label{
   color: #490f09; 
}

.labelpassword{
  color: #490f09; 
 
  margin-top: 100px;
}
.labelpassword{
  
}
input{
    margin-left: 150px;
    height: 40px;
    width: 395px;
    border: 1px solid #d2d9e2;
    margin-bottom: 10px;
    margin-top: 5px;
}
.forget{
    display: flex;
   
    justify-content: center;
    gap: 100px;
    margin-left: 125px;
    
}
.checkbox{
  height: 5px;
  width: 5px;
  margin-right: 10px;
 
 
}

.checkboxlabel{
  display: flex;
  margin-bottom: 14px;
}

.style
.formgroupc label{
  display: flex;
  
}

button:hover {
  background-color: #d2d9e2;
}

.forgotpassword {
  /* margin-top: 15px; 
  margin-left: -200px;  */
  cursor: pointer;
  color: #f53c1f;
  text-decoration: none;
  margin-top: 14px;
  
}
.forgotpassword a{
    color: #f53c1f;
  text-decoration: none;
 
}
.primarybutton {
  margin-top: 50px;
  background-color: #f53c1f;
  color: #fff;
  width: 180px;
  height: 44px;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  margin-left: 120px;
}

.primarybutton:hover{
  background-color:rgb(240, 12, 12) ;
  
}
.para{
    justify-content: start;
    margin-top:20px;
    margin-left: 100px;
}
.para a{
  color: #f53c1f;
  font-weight: lighter;
  text-decoration: none;
}

/* Media query for screens smaller than 768px (typical tablet and mobile screens) */
@media (max-width: 768px) {
  .container {
    margin-top: 50px; /* Adjust margin for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
    border-radius: 10px; /* Adjust border radius for smaller screens */
  }

  .heading {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .formgroupb input,
  .formgroupc input {
    margin-left: 0; /* Reset margin for smaller screens */
  }

  .forget {
    display: flex;
    flex-wrap: wrap;
    gap: 50px; /* Adjust gap between items for smaller screens */
  }
}