header {
    padding: var(--app-header-padding);
}
main {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout {
    margin-bottom: 100px;
}
.order, .delivery {
    display: flex;
    width: 387px;
    gap: 180px;
}
.delivery {
    margin-top: 10px;
}
.para{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    color: #310D07;
 
}
.sub {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;

}
.checkout-form {
    width: 387px;
    height: 309px;
    display: flex;
}
form label {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #222222;
}
form input {
    width: 387px;
    height: 45px;
    padding: 16px 8px 16px 8px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #464646;
    margin-left: 0px;
}
.paystack-button {
    width: 387px;
    height: 54px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #F44322;
    color: #FFFFFF;
}

.paystack-button:hover {
    opacity: 1;
}
